@using ATTMS.Dashboard.Resources

@using Models
@model List<SP_Department_Employees_Select_Result>
<div class="table-responsive">
    <table id="department_employee_tbl" class="display table table-bordered" width="100%">
        <thead>
            <tr>
                <th>@Resource.Employee_Name</th>
                <th>@Resource.Job_Title</th>
                <th>@Resource.Is_Manager</th>
                <th width="15%">@Resource.Joined_At</th>
                <th width="15%">@Resource.Left_At</th>
                <th width="15%">@Resource.Coach</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.trns_employee_name</td>
                    <td>@employee.job_title</td>
                    <td>

                    </td>
                    <td width="15%">@employee.joined_at.ToString(HMTLHelperExtensions.date_format)</td>
                    <td width="15%">
                        @(employee.left_at != null? employee.left_at.Value.ToString(HMTLHelperExtensions.date_format): @Resource.Still_Member )
                        <a href="#">
                            <span class="fa fa-plus-square"></span>
                            @Resource.Leave 
                        </a>
                    </td>
                    <td width="15%">@employee.employee_coach_name</td>
                </tr>
            }
        </tbody>
    </table>
</div>
