@using OTS.DAL
@model List<Projects_Tbl_Select_Result>

<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>Zones
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse">
            </a>
            <a href="javascript:;" class="reload" onclick="Load_Projects_View('Grid')">
            </a>
        </div>
    </div>
    @if (Model == null || Model.Count == 0)
    {
        @Html.Partial("_NoDataFound");

    }
    else
    {
        <div class="portlet-body">
            <div class="row">
                @if (Model != null && Model.Count > 0)
                {
                    foreach (var proj in Model)
                    {
                        <div class="col-sm-4 col-md-4">
                            <div class="thumbnail">
                                @{Html.RenderAction("Loadzone_Img", new { title = proj.Project_Name });}
                                
                                <div class="caption">
                                    <h5 class="username_grid">@proj.Project_Name</h5>
                                    <p>
                                        Created At: @proj.Created_At.ToString("dd-MMM-yyyy") 
                                        <br />
                                        Started At: @proj.Project_Start_Date.ToString("dd-MMM-yyyy")
                                        <br />
                                        Ended At: @(proj.Project_End_Date != null ? proj.Project_End_Date.Value.ToString("dd-MMM-yyyy"):"Still Active")
                                        <br />

                                        Bulk Tasks: @proj.Bulk_Tasks  
                                        <a onclick="Load_Zone_areas_View('@proj.ID')" href="#areas_zone_view_modal" data-toggle="modal"><span class="fa fa-plus-square"></span>
                                        </a>
                                        <br />

                                        Tasks: @proj.Tasks
                                        <a onclick="Load_Zone_areas_View('@proj.ID')" href="#areas_zone_view_modal" data-toggle="modal">
                                            <span class="fa fa-plus-square"></span>
                                        </a>
                                    </p>
                                    <p>
                                        <input type="button" class="btn danger" value="Delete" onclick="DeleteZone('@proj.ID')" >|
                                        <input type="button" class="btn default" value="Edit" onclick="Load_Zone_Edit_View('@proj.ID')" href="#edit_zone_view_modal" data-toggle="modal">
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    }
</div>
