@using ATTMS.Dashboard.Resources

@model Microsoft.AspNet.Identity.EntityFramework.IdentityUser

@{
    ViewBag.Title = @Resource.Delete_user;
}
<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                @using (Html.BeginForm("Delete", "Users", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="widget-box widget-color-orange">
                        <div class="widget-header"><h4 class="widget-title">@Resource.Delete_user @Model.UserName</h4></div>
                        <div class="widget-body">
                            <div class="widget-main">
                                <div class="alert alert-info">
                                    <p>@Resource.Delete_User_ensure_Message </p>
                                </div>
                                <div class="widget-toolbox padding-8 clearfix">
                                    <div class="pull-left"><a class="btn btn-sm btn-danger" href="@Url.Action("Index", "Users")"><i class="fa fa-thumbs-o-down"></i> @Resource.No</a></div>
                                    <div class="pull-right"><button type="submit" class="btn btn-sm btn-success"><i class="fa fa-thumbs-o-up"></i> @Resource.Yes</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>